In [1]:
#importing data
import numpy as np
import pandas as pd

url='https://raw.githubusercontent.com/Nantha-1998/404-CODER/master/career_compute_dataset.csv'
dataset = pd.read_csv(url)
print(np.shape(dataset))
dataset.head()

(7525, 26)

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills,ROLE
0,2,3,2,3,1,1,1,1,2,4,...,1,3,1,2,2,4,3,4,5,Technical Support
1,3,1,2,2,2,1,1,3,2,4,...,2,3,2,3,2,5,3,3,4,Software Developer
2,3,4,2,2,1,1,1,2,3,3,...,1,4,3,1,4,3,3,3,4,UI/UX Designer
3,3,4,2,1,1,1,1,1,3,2,...,1,3,2,1,2,1,4,4,3,Technical Support
4,2,3,2,4,1,1,1,4,3,3,...,1,2,1,3,1,5,4,3,1,Data Analyst

In [2]:
data = dataset.iloc[:49,:-1].values
label = dataset.iloc[:49,-1]
#-------------------------------Label Encoding--------------------------#
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
df = dataset
label = df.iloc[:49,-1]
original=label.unique() 
label=label.values
label2 = labelencoder.fit_transform(label)
y=pd.DataFrame(label2,columns=["ROLE"])
numeric=y["ROLE"].unique() 
y1 = pd.DataFrame({'ROLE':original, 'Associated Number':numeric})
print(y1)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
label = labelencoder.fit_transform(label)
y=pd.DataFrame(label,columns=["role"])
X = pd.DataFrame(data,columns=['sslc','hsc','cgpa','school_type','no_of_miniprojects','no_of_projects',
                                'coresub_skill','aptitude_skill','problemsolving_skill','programming_skill','abstractthink_skill',
                                'design_skill','first_computer','first_program','lab_programs','ds_coding','technology_used',
                                'sympos_attend','sympos_won','extracurricular','learning_style','college_bench','clg_teachers_know','college_performence','college_skills'])

                 ROLE  Associated Number
0   Technical Support                  4
1  Software Developer                  2
2      UI/UX Designer                  6
3        Data Analyst                  1
4    Technical Writer                  5
5       Web Developer                  7
6     Software Tester                  3
7    Business Analyst                  0

In [4]:
X

,sslc,hsc,cgpa,school_type,no_of_miniprojects,no_of_projects,coresub_skill,aptitude_skill,problemsolving_skill,programming_skill,...,ds_coding,technology_used,sympos_attend,sympos_won,extracurricular,learning_style,college_bench,clg_teachers_know,college_performence,college_skills
0,2,3,2,3,1,1,1,1,2,4,...,1,1,3,1,2,2,4,3,4,5
1,3,1,2,2,2,1,1,3,2,4,...,2,2,3,2,3,2,5,3,3,4
2,3,4,2,2,1,1,1,2,3,3,...,1,1,4,3,1,4,3,3,3,4
3,3,4,2,1,1,1,1,1,3,2,...,2,1,3,2,1,2,1,4,4,3
4,2,3,2,4,1,1,1,4,3,3,...,2,1,2,1,3,1,5,4,3,1
5,1,1,1,1,1,1,2,2,3,2,...,2,1,3,2,1,2,5,3,3,5
6,3,3,2,2,2,1,2,4,3,3,...,1,1,3,2,1,1,5,4,4,4
7,3,3,2,2,1,1,2,1,2,2,...,1,1,3,3,3,4,5,4,3,3
8,3,2,3,3,1,1,1,2,3,5,...,1,1,3,3,3,2,5,4,3,3
9,4,4,2,2,1,1,2,2,3,3,...,2,1,1,2,2,3,5,4,4,5
10,4,4,2,2,1,1,1,3,3,2,...,3,1,3,3,3,2,5,4,4,3
11,4,4,3,1,1,1,1,4,3,2,...,2,1,2,3,1,1,3,4,4,4
12,3,3,3,2,1,1,2,4,2,3,...,3,1,3,1,2,2,5,4,4,3
13,4,4,2,2,1,1,2,3,3,3,...,2,1,3,1,1,2,5,2,3,4
14,4,3,1,1,1,1,2,4,3,3,...,3,1,3,2,2,2,5,4,4,3
15,4,3,3,2,1,1,2,3,3,2,...,3,1,4,1,2,2,4,4,4,3
16,2,3,1,2,2,1,2,3,3,4,...,4,1,3,3,1,1,3,4,3,5
17,4,4,4,2,2,1,1,4,2,3,...,3,1,4,5,1,1,5,4,4,4
18,3,3,2,1,1,1,1,1,2,2,...,2,1,3,1,4,2,5,4,3,5
19,4,4,4,2,2,1,2,4,3,4,...,3,1,3,2,3,2,5,4,4,4
20,2,2,2,2,1,1,2,3,4,5,...,2,2,3,2,3,2,4,3,4,4
21,4,4,3,2,1,1,2,1,3,3,...,1,1,3,1,3,3,5,3,4,1
22,1,1,2,3,3,3,2,3,3,3,...,2,2,3,3,4,2,3,1,4,5
23,4,4,4,1,2,2,2,4,3,3,...,2,2,4,2,1,3,3,4,4,4
24,4,4,3,2,2,1,1,1,2,3,...,1,1,3,2,2,3,5,3,3,3
25,3,3,3,1,1,1,1,2,4,2,...,1,1,3,2,1,2,4,4,3,3
26,3,3,2,1,1,1,2,2,3,3,...,2,1,4,3,3,2,4,3,3,4
27,4,4,2,2,2,1,2,4,3,3,...,2,1,3,2,3,4,2,4,4,5
28,2,4,2,3,2,2,2,2,2,3,...,2,1,3,3,2,4,4,4,3,3
29,4,4,4,3,2,1,1,1,2,3,...,2,1,3,1,3,1,4,4,3,1
30,3,4,1,2,1,1,2,2,2,2,...,2,1,4,1,1,1,4,3,3,3
31,4,4,3,2,2,1,1,4,2,3,...,2,2,2,2,1,1,4,3,4,3
32,4,4,3,3,1,1,1,4,2,3,...,2,1,3,3,1,4,3,4,4,1
33,4,4,4,2,2,1,1,2,3,3,...,2,1,3,5,3,2,4,3,4,1
34,4,4,3,2,1,1,2,2,3,3,...,2,3,4,2,1,2,4,4,4,2
35,4,2,2,1,1,1,2,2,3,3,...,3,1,1,1,1,2,4,4,3,5
36,4,4,3,2,1,1,2,2,3,3,...,2,1,3,1,1,3,4,3,3,1
37,4,4,3,2,2,1,2,1,3,4,...,3,1,2,2,1,1,4,3,3,4
38,4,4,4,2,1,1,2,2,3,5,...,2,1,3,2,1,2,5,3,4,2
39,4,3,3,3,2,1,2,1,3,3,...,2,1,4,1,4,4,4,4,4,5
40,4,4,4,2,2,1,2,4,2,3,...,4,1,4,1,1,4,4,4,4,3
41,4,3,2,2,1,1,2,2,2,2,...,2,1,1,2,2,2,2,3,3,1
42,1,1,2,2,2,2,2,1,1,2,...,1,1,3,2,2,1,3,4,3,5
43,4,3,2,2,2,1,2,1,2,3,...,2,1,1,2,1,1,4,4,3,4
44,3,3,3,2,1,2,1,2,2,2,...,2,1,4,2,3,2,5,4,4,1
45,3,3,1,1,1,1,2,1,4,2,...,2,1,3,2,1,3,4,4,3,1
46,4,3,2,1,2,1,1,1,3,3,...,2,1,1,1,1,2,5,4,3,3
47,2,3,2,3,1,1,2,1,2,3,...,1,1,1,1,2,3,4,3,3,1
48,4,3,3,2,2,1,1,1,3,3,...,2,1,1,1,4,2,4,3,3,5